body{
  margin: 0;
  background-color: #454d66;
  color: #eee
}

nav  a{
  color:#eee
}

.conteiner{
  margin: 0 auto;
  max-width: 960px;
}

nav,footer{
  background: #009975;
}

.navbar-toggler-icon{
  color:#eee;
}

.main{
  padding-top: 20px;
  padding-bottom: 44px;
  color: rgba(0, 0, 0, 0.7);
}

h1{
  text-align: center;
  margin: 0;
  padding: 10px;
  /* font-size: 20px; */
}

h2{
  /* text-align: center; */
  margin: 0;
  margin-left: 10%;
  padding: 10px;
  /* font-size: 16px; */
}

h3{
  margin-left: 20px;
  margin-bottom: 0;
  padding: 5px;
  font-size: 16px;

}

.main ul{
  padding-left: 30px;
  padding-right: 30px;
  list-style: none;
}

.submenu{
  display: flex;
  justify-content: space-around;
  height: 30px;
}

.todo{
  border-radius: 5px;
  margin-bottom: 10px;
  display: block;
  background-color: #fff;
  min-height: 70px;
}

a{
  text-decoration: none;
  color: inherit;
}

a: visited{
  color:inherit;
}

.submenu > a{
  padding-top: 5px;
  padding-left: 5px;
  color: rgba(0, 0, 0, 0.7);
}

.mask{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  z-index: 1;

}

#todo-add{
  position: fixed;
  right: 20px;
  bottom: 60px;
  font-size: 30px;
  background-color: #58b368;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  text-align: center;
  /* line-height: 60px; */
}
#member-btn{
  position: fixed;
  left: 20px;
  bottom: 60px;
  font-size: 30px;
  background-color: #58b368;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  text-align: center;
  /* line-height: 60px; */
}

.btn:hover{
  cursor:pointer;
  opacity: 0.8;
}

.form-area{
  display: none;
  max-width: 960px;
  width: 90%;
  max-height: 80%;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color:#009975;
  z-index: 2;
}


form{
  padding: 20px;
}

form > p{
  text-align: center;
}

.d-none{
  display: none;
}
.d-block{
  display: block;
}

textarea{
  font-size: 22px;
  margin: auto;
  box-sizing: border-box;
  width: 95%;
  height: 80%;
  min-height: 300px;
}

.errors{
  display: block;
  text-align: center;
  color:tomato;
  font-size: 16px;
  font-weight: bold;
}
.btns{
  margin: 0 auto;
  text-align: center;
}

#left-conteiner{
  display: none;
  position: fixed;
  top:0;
  left: 0;
  width: 300px;
  height: 100vh;
  background-color: lightgreen;
  color: #333;
  transition: 1s;
  z-index: 2;
}

.member-header{
  font-size: 20px;
  padding: 20px;
  border-bottom: 2px solid #333;
  line-height: 20px;
}


.clear-btn{
  float: right;
  display: block;
}

footer{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: auto;
  right: auto;
}


#add_trigger{
  display: none;
}
#add_trigger:checked ~ #todo-add-area{
  display: block;
}
#edit_trigger{
  display: none;
}
#edit_trigger:checked ~ #todo-edit-area{
  display: block;
}
#member_trigger{
  display: none;
}
#member_trigger:checked ~ #left-conteiner{
  display: block;
}
#member_trigger:checked ~ #member-btn-label{
  display: none;
}
